Challenge_2/node-red_flows.json
[{"id":"40adb61c.9d0548","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"89acb39c.d3175","type":"mqtt-broker","name":"","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"70916c52.711db4","type":"file in","z":"40adb61c.9d0548","name":"Input data","filename":"/home/peppetort/Desktop/tmp/traffic.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":370,"y":300,"wires":[["5e2e03cd.784f7c"]]},{"id":"2b06bef2.1f1872","type":"inject","z":"40adb61c.9d0548","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":300,"wires":[["70916c52.711db4"]]},{"id":"38e08b22.ca4124","type":"debug","z":"40adb61c.9d0548","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":360,"wires":[]},{"id":"c5dc6a62.898af8","type":"debug","z":"40adb61c.9d0548","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":360,"wires":[]},{"id":"be36c598.fe0168","type":"function","z":"40adb61c.9d0548","name":"Filter Publish Messages","func":"var array = msg.payload;\n\nvar filt_line = [];\n\nfor(var line of array){\n    for(const [col, content] of Object.entries(line)){\n        \n        if(content != undefined && content.includes(\"Publish Message\") ){\n            //there just need to be a publish message to select the entire row\n            filt_line.push(line);\n            break;\n        }\n    }\n}\n\n\nif(filt_line.length > 0){\n    msg.payload = filt_line;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":300,"wires":[["38e08b22.ca4124","fdfac2b9.bcea7"]]},{"id":"5e2e03cd.784f7c","type":"csv","z":"40adb61c.9d0548","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":"","x":530,"y":300,"wires":[["c5dc6a62.898af8","be36c598.fe0168"]]},{"id":"fdfac2b9.bcea7","type":"function","z":"40adb61c.9d0548","name":"Associate pub message with payload","func":"var array = msg.payload;\n\nvar filt_line = [];\n\nfor(var line of array){\n    \n    var pub_msg_list = [];\n    var payload_list = [];\n    var map = [];\n\n    for(const [col, content] of Object.entries(line)){\n        if(content != undefined && content.includes(\"7b\")){\n            var msg_start_index = content.indexOf(\"7b\");\n            var msg_end_index = content.indexOf(\"7d\")+2;\n            payload_list.push(content.substring(msg_start_index, msg_end_index));\n        }\n    }\n    \n    for(const [col, content] of Object.entries(line)){\n        if(content != undefined && content.includes(\"Publish Message\")){\n            var type_start_index = content.indexOf(\"Publish Message\");\n            var type_end_index = content.indexOf(\"]\")+1;\n            pub_msg_list.push(content.substring(type_start_index, type_end_index));\n        }\n    }\n    \n    if(pub_msg_list.length > 0 && payload_list.length > 0){\n        pub_msg_list = pub_msg_list.slice(0, payload_list.length);\n        \n        for(i=0; i<payload_list.length; i++){\n            map.push([pub_msg_list[i], payload_list[i]]);\n        }\n        \n        filt_line.push(map);\n    }\n    \n}\n\n\nif(filt_line.length > 0){\n    msg.payload = filt_line;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":300,"wires":[["ab13775.089c088","c97fe006.6d245","f8bf2ad1.44c4b8"]]},{"id":"ab13775.089c088","type":"debug","z":"40adb61c.9d0548","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1060,"y":360,"wires":[]},{"id":"c97fe006.6d245","type":"function","z":"40adb61c.9d0548","name":"Filter PLC Topic","func":"var array = msg.payload;\n\nvar filt_line = [];\n\nfor(var line of array){\n    for(var association of line){\n        if(association[0].includes(\"factory/department1/section1/plc\") ||  association[0].includes(\"factory/department3/section3/plc\")){\n            filt_line.push(association[1]);\n        }\n    }\n}\n\nif(filt_line.length > 0){\n    msg.payload = filt_line;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1300,"y":240,"wires":[["52454715.b10b78","ef0ff8a8.646168"]]},{"id":"52454715.b10b78","type":"debug","z":"40adb61c.9d0548","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1280,"y":180,"wires":[]},{"id":"f8bf2ad1.44c4b8","type":"function","z":"40adb61c.9d0548","name":"Filter Hydraulic Valve Topic","func":"var array = msg.payload;\n\nvar filt_line = [];\n\nfor(var line of array){\n    for(var association of line){\n        if(association[0].includes(\"factory/department1/section1/hydraulic_valve\") || association[0].includes(\"factory/department3/section3/hydraulic_valve\")){\n            filt_line.push(association[1]);\n        }\n    }\n}\n\nif(filt_line.length > 0){\n    msg.payload = filt_line;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1340,"y":380,"wires":[["97e74eeb.9026e","a9818c5.7db0c7"]]},{"id":"97e74eeb.9026e","type":"debug","z":"40adb61c.9d0548","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1340,"y":440,"wires":[]},{"id":"ef0ff8a8.646168","type":"function","z":"40adb61c.9d0548","name":"Hex to Text and Get Value","func":"var array = msg.payload;\n\nvar filt_line = [];\n\nfor(var content of array){\n    var hex = content.toString();\n    var str = '';\n\n    for (var i = 0; (i < hex.length && hex.substr(i, 2) !== '00'); i += 2){\n        str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));\n    }\n    \n    var json = JSON.parse(str);\n    filt_line.push(json.value);\n}\n\nif(filt_line.length > 0){\n    msg.payload = filt_line;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1540,"y":240,"wires":[["f9ce34d0.303768","cd47f8ed.67d648"]]},{"id":"f9ce34d0.303768","type":"debug","z":"40adb61c.9d0548","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1540,"y":180,"wires":[]},{"id":"a9818c5.7db0c7","type":"function","z":"40adb61c.9d0548","name":"Hex to Text and Get Value","func":"var array = msg.payload;\n\nvar filt_line = [];\n\nfor(var content of array){\n    var hex = content.toString();\n    var str = '';\n\n    for (var i = 0; (i < hex.length && hex.substr(i, 2) !== '00'); i += 2){\n        str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));\n    }\n    \n    var json = JSON.parse(str);\n    filt_line.push(json.value);\n}\n\nif(filt_line.length > 0){\n    msg.payload = filt_line;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":380,"wires":[["19f630e2.d1777f","11715102.f0981f"]]},{"id":"19f630e2.d1777f","type":"debug","z":"40adb61c.9d0548","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1640,"y":440,"wires":[]},{"id":"cd47f8ed.67d648","type":"split","z":"40adb61c.9d0548","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1750,"y":240,"wires":[["961a3663.9ff4e8"]]},{"id":"67d71ff3.cd585","type":"delay","z":"40adb61c.9d0548","name":"","pauseType":"rate","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2180,"y":240,"wires":[["6211fcbe.186484","b6f03333.7438b"]]},{"id":"5b7bc64f.79daf8","type":"delay","z":"40adb61c.9d0548","name":"","pauseType":"rate","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2400,"y":380,"wires":[["9e59e62.158ad18","b6f03333.7438b"]]},{"id":"6211fcbe.186484","type":"debug","z":"40adb61c.9d0548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2200,"y":180,"wires":[]},{"id":"9e59e62.158ad18","type":"debug","z":"40adb61c.9d0548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2400,"y":440,"wires":[]},{"id":"26802e9b.c27342","type":"delay","z":"40adb61c.9d0548","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2220,"y":380,"wires":[["5b7bc64f.79daf8"]]},{"id":"b6f03333.7438b","type":"mqtt out","z":"40adb61c.9d0548","name":"","topic":"","qos":"","retain":"","broker":"89acb39c.d3175","x":2570,"y":280,"wires":[]},{"id":"11715102.f0981f","type":"split","z":"40adb61c.9d0548","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1830,"y":380,"wires":[["812a421e.e7e52"]]},{"id":"961a3663.9ff4e8","type":"function","z":"40adb61c.9d0548","name":"Format mqtt Message","func":"var value = msg.payload;\n\nvar API_KEY = \"LZPBV1R1ZZ5CBT8E\";\nvar CHANNEL_ID = \"1359547\";\nvar field1= value;\nmsg.topic = 'channels/'+CHANNEL_ID+'/publish/' + API_KEY;\nmsg.payload=\"field1=\"+field1+\"&status=MQTTPUBLISH\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1950,"y":240,"wires":[["67d71ff3.cd585"]]},{"id":"812a421e.e7e52","type":"function","z":"40adb61c.9d0548","name":"Format mqtt Message","func":"var value = msg.payload;\n\nvar API_KEY = \"LZPBV1R1ZZ5CBT8E\";\nvar CHANNEL_ID = \"1359547\";\nvar field2= value;\nmsg.topic = 'channels/'+CHANNEL_ID+'/publish/' + API_KEY;\nmsg.payload=\"field2=\"+field2+\"&status=MQTTPUBLISH\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2030,"y":380,"wires":[["26802e9b.c27342"]]}]