Challenge_2/node-red_flows.json
[{"id":"40adb61c.9d0548","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"89acb39c.d3175","type":"mqtt-broker","name":"","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"70916c52.711db4","type":"file in","z":"40adb61c.9d0548","name":"Input data","filename":"/home/peppetort/Desktop/traffic.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":310,"y":320,"wires":[["5e2e03cd.784f7c"]]},{"id":"2b06bef2.1f1872","type":"inject","z":"40adb61c.9d0548","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":320,"wires":[["70916c52.711db4"]]},{"id":"38e08b22.ca4124","type":"debug","z":"40adb61c.9d0548","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":380,"wires":[]},{"id":"b43b721.067929","type":"function","z":"40adb61c.9d0548","name":"Filter PLC TOPIC","func":"var array = msg.payload;\n\nfor(var message of array){\n    if(message.includes(\"factory/department1/section1/plc\") ||  message.includes(\"factory/department3/section3/plc\")){\n        //Since from prevouious inspection all array had length 1\n        msg.payload = message;\n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":280,"wires":[["8d3bbf4f.e7b5b","1973530d.393f8d"]]},{"id":"d30415ba.d0f628","type":"function","z":"40adb61c.9d0548","name":"Filter Hydraulic Valve Topic","func":"var array = msg.payload;\n\nfor(var message of array){\n    if(message.includes(\"factory/department1/section1/hydraulic_valve\") ||  message.includes(\"factory/department3/section3/hydraulic_valve\")){\n        //Since from prevouious inspection all array had length 1\n        msg.payload = message;\n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":360,"wires":[["e5765a83.524ff8","970a1ef8.ccc4e"]]},{"id":"8d3bbf4f.e7b5b","type":"debug","z":"40adb61c.9d0548","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":940,"y":220,"wires":[]},{"id":"e5765a83.524ff8","type":"debug","z":"40adb61c.9d0548","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":420,"wires":[]},{"id":"1973530d.393f8d","type":"function","z":"40adb61c.9d0548","name":"Get content","func":"var msg_start_index = msg.payload.indexOf(\"7b\");\nvar msg_end_index = msg.payload.indexOf(\"7d\")+2;\n\nvar content = msg.payload.substring(msg_start_index, msg_end_index);\n\nmsg.payload = content\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":280,"wires":[["a7cd6365.76f3b","5b87ad29.8de9d4"]]},{"id":"a7cd6365.76f3b","type":"debug","z":"40adb61c.9d0548","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1180,"y":220,"wires":[]},{"id":"970a1ef8.ccc4e","type":"function","z":"40adb61c.9d0548","name":"Get content","func":"var msg_start_index = msg.payload.indexOf(\"7b\");\nvar msg_end_index = msg.payload.legth;\n\nvar content = msg.payload.substring(msg_start_index, msg_end_index);\n\nmsg.payload = content\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":360,"wires":[["5438d88a.ca3c28","80f6ce81.f45b7"]]},{"id":"5438d88a.ca3c28","type":"debug","z":"40adb61c.9d0548","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1220,"y":420,"wires":[]},{"id":"5b87ad29.8de9d4","type":"function","z":"40adb61c.9d0548","name":"Hex to Text ","func":"var hex = msg.payload.toString();\nvar str = '';\n\nfor (var i = 0; (i < hex.length && hex.substr(i, 2) !== '00'); i += 2){\n    str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));\n}\n\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":280,"wires":[["8b63e87.17bc618","8e6da759.8f7c18"]]},{"id":"80f6ce81.f45b7","type":"function","z":"40adb61c.9d0548","name":"Hex to Text","func":"var hex = msg.payload.toString();\nvar str = '';\n\nfor (var i = 0; (i < hex.length && hex.substr(i, 2) !== '00'); i += 2){\n    str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));\n}\n\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1330,"y":360,"wires":[["66b66212.8365cc","72ac62b5.8e886c"]]},{"id":"8b63e87.17bc618","type":"debug","z":"40adb61c.9d0548","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1420,"y":220,"wires":[]},{"id":"8e6da759.8f7c18","type":"function","z":"40adb61c.9d0548","name":"Get Value and send","func":"var json = JSON.parse(msg.payload);\n\nvar API_KEY = \"LZPBV1R1ZZ5CBT8E\";\nvar CHANNEL_ID = \"1359547\";\nvar field1= json.value;\nmsg.topic = 'channels/'+CHANNEL_ID+'/publish/' + API_KEY;\nmsg.payload=\"field1=\"+field1+\"&status=MQTTPUBLISH\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1520,"y":280,"wires":[["d0303a29.e5c0c8"]]},{"id":"66b66212.8365cc","type":"function","z":"40adb61c.9d0548","name":"Get Value and send","func":"var json = JSON.parse(msg.payload);\n\nvar API_KEY = \"LZPBV1R1ZZ5CBT8E\";\nvar CHANNEL_ID = \"1359547\";\nvar field2= json.value;\nmsg.topic = 'channels/'+CHANNEL_ID+'/publish/' + API_KEY;\nmsg.payload=\"field2=\"+field2+\"&status=MQTTPUBLISH\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1540,"y":360,"wires":[["b183c354.7cce3"]]},{"id":"72ac62b5.8e886c","type":"debug","z":"40adb61c.9d0548","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1440,"y":420,"wires":[]},{"id":"d0303a29.e5c0c8","type":"delay","z":"40adb61c.9d0548","name":"","pauseType":"rate","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1740,"y":280,"wires":[["6ddf604d.2a022","deaa2a.dd5825d8"]]},{"id":"18c3d2fd.2019bd","type":"delay","z":"40adb61c.9d0548","name":"","pauseType":"rate","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1920,"y":360,"wires":[["bf33666b.55fe38","deaa2a.dd5825d8"]]},{"id":"6ddf604d.2a022","type":"debug","z":"40adb61c.9d0548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1840,"y":220,"wires":[]},{"id":"bf33666b.55fe38","type":"debug","z":"40adb61c.9d0548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1980,"y":420,"wires":[]},{"id":"b183c354.7cce3","type":"delay","z":"40adb61c.9d0548","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1740,"y":360,"wires":[["18c3d2fd.2019bd"]]},{"id":"c5dc6a62.898af8","type":"debug","z":"40adb61c.9d0548","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":380,"wires":[]},{"id":"be36c598.fe0168","type":"function","z":"40adb61c.9d0548","name":"Filter Publish Messages","func":"var line = msg.payload;\n\n//list of all well formatted publish messages\nvar pub_msg_list = [];\n\nfor(const [col, content] of Object.entries(line)){\n    \n    //get all column content of type Publish Message that contain { hex char \n    if(content != undefined && content.includes(\"Publish Message\") && content.includes(\"7b\")){\n        //maybe more than one column with desired content\n        pub_msg_list.push(content);\n    }\n}\n\nif(pub_msg_list.length > 0){\n    msg.payload = pub_msg_list;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":320,"wires":[["38e08b22.ca4124","b43b721.067929","d30415ba.d0f628"]]},{"id":"5e2e03cd.784f7c","type":"csv","z":"40adb61c.9d0548","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":450,"y":320,"wires":[["c5dc6a62.898af8","be36c598.fe0168"]]},{"id":"deaa2a.dd5825d8","type":"mqtt out","z":"40adb61c.9d0548","name":"","topic":"","qos":"","retain":"","broker":"89acb39c.d3175","x":2110,"y":320,"wires":[]}]